# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ram-It-Out.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Y3S2\Mobile 2\Group Project\GroupAssignment\Ram-It-Out\Ram-It-Out\.idea\.idea.Ram-It-Out\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
